.App {
  text-align: center;
  font-color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(12, 12, 12);
}

.App-link {
  color: #61dafb;
}

.ul {
  color: black;
}
/*navbar text color*/
nav a {
  color:white
  }
/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  text-align: right;
  left: -5%;
    background-image: linear-gradient(to bottom,#3378f8 0,#05437e 100%) !important; /* override background image gradient w/ flat color */
}
a {
  color: black;
  display: inline-block;
  padding: 10px;
}
.text-primary {
  color: rgb(7, 6, 6);
}

.li {
  color: black;
}
.navbar-brand
{
    position: relative;

    left: -70%;
    text-align: left;
    margin:0 auto;
}