// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.comments-container {
    padding: 2px;
  
    .comments-heading {
      font-size: 18px;
    }
  }
  
  .comment {
    display: flex;
    border: 1px solid grey;
    padding: 8px;
    margin: 8px 0;
    width: 400px;
  
    .user-name {
      margin-right: 4px;
    }
  }
  
  .comment-textarea {
    width: 400px;
    height: 100px;
    padding: 8px;
  }